{% extends 'layout.html' %}
{% load static %}

{% block body %}
     <section class="page-section about-heading">
            <div class="container">
                <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="{% static 'img/About - BWSG Marketing.jpg' %}" alt="..." style="max-width: 90%; height: 50%;"/>
                <div class="about-heading-content">
                    <div class="row">
                        <div class="col-xl-9 col-lg-10 mx-auto">
                            <div class="bg-faded rounded p-5">
                                <h2 class="section-heading mb-4">
<!--                                    <span class="section-heading-upper">Strong Coffee, Strong Roots</span>-->
                                    <span class="section-heading-lower fw-bold">About BWSG</span>
                                </h2>
                                <p>Welcome to BWSG Marketing Hub, where innovation meets creativity in the realm of digital marketing. Founded by Maria Oloo, our mission is to bring clarity and a touch of artistry to the diverse landscape of online promotion.
</p>
                                <span class="section-heading-lower fw-semibold" > Our Promise to You</span>

                                <p class="mb-2">
<!--                                    <em>lust</em>-->
                                    At BWSG Marketing Hub, we understand that the digital world can be overwhelming, and navigating the complexities of marketing requires a dedicated partner. We promise to be that partner for you, offering:
                                </p>
                                <p class="mb-2">
                                     <ul>
                                    <li>Friendly Service: When you engage with BWSG Marketing Hub, expect a warm and friendly approach. We believe in building lasting relationships with our clients.
</li>
                                    <li>Welcoming Atmosphere: Your journey with us begins in an inviting atmosphere. We strive to create an environment that fosters collaboration and sparks creativity.
</li>
                                    <li>Excellent Products: Our commitment to excellence is reflected in the products we deliver. Using the highest quality ingredients—metaphorically speaking—we craft digital marketing strategies tailored to your unique needs.
</li>
                                </ul>

                                </p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

{% endblock %}


    </body>
</html>
