{% extends 'layout.html' %}
{% load static %}

{% block body %}
	     <!--        Service 1-->
        <section class="page-section">
            <div class="container">
                <div class="product-item">
                    <div class="product-item-title d-flex">
                        <div class="bg-faded p-5 d-flex ms-auto rounded">
                            <h2 class="section-heading mb-0">
<!--                                <span class="section-heading-upper">Blended to Perfection</span>-->
                                <span class="section-heading-lower fw-bold">Brand Strategy</span>
                            </h2>
                        </div>
                    </div>
                    <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="{% static 'img/Content Strategy.jpg' %}" alt="..." />
                    <div class="product-item-description d-flex me-auto">
                        <div class="bg-faded p-5 rounded"><p class="mb-0"> Enhance your online presence with BWSG Marketing Hub's expertly crafted digital marketing strategies. We conduct thorough market analysis, consider your target audience, and evaluate competitors to create comprehensive plans tailored to your business goals.
</p></div>
                    </div>
                </div>
            </div>
        </section>
<!--        Service 2-->
        <section class="page-section">
            <div class="container">
                <div class="product-item">
                    <div class="product-item-title d-flex">
                        <div class="bg-faded p-5 d-flex me-auto rounded">
                            <h2 class="section-heading mb-0">
<!--                                <span class="section-heading-upper">Delicious Treats, Good Eats</span>-->
                                <span class="section-heading-lower fw-bold">Content Creation</span>
                            </h2>
                        </div>
                    </div>
                    <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="{% static 'img/Content Creation & Copy writing.jpg' %}" alt="..." />
                    <div class="product-item-description d-flex ms-auto">
                        <div class="bg-faded p-5 rounded"><p class="mb-0">Let your brand story shine through captivating content and persuasive copy. Our team excels in creating engaging material for various platforms, ensuring that your message is not only heard but resonates with your audience.
</p></div>
                    </div>
                </div>
            </div>
        </section>
<!--        Service 3-->
        <section class="page-section">
            <div class="container">
                <div class="product-item">
                    <div class="product-item-title d-flex">
                        <div class="bg-faded p-5 d-flex ms-auto rounded">
                            <h2 class="section-heading mb-0">
<!--                                <span class="section-heading-upper">From Around the World</span>-->
                                <span class="section-heading-lower fw-bold">Search Engine Optimization</span>
                            </h2>
                        </div>
                    </div>
                    <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="{% static 'img/Search Engine Optimization.jpg' %}" alt="..." />
                    <div class="product-item-description d-flex me-auto">
                        <div class="bg-faded p-5 rounded"><p class="mb-0">Improve your website's visibility on search engines with our strategic SEO services. We delve into keyword research, implement on-page optimization techniques, and develop effective link-building strategies to boost your organic search rankings.
</p></div>
                    </div>
                </div>
            </div>
        </section>
<!--        Service 4-->
        <section class="page-section">
            <div class="container">
                <div class="product-item">
                    <div class="product-item-title d-flex">
                        <div class="bg-faded p-5 d-flex me-auto-auto rounded">
                            <h2 class="section-heading mb-0">
                                <span class="section-heading-lower fw-bold">Social Media Management</span>
                            </h2>
                        </div>
                    </div>
                     <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="{% static 'img/Social Media Management.jpg' %}" alt="...">
                        <div class="product-item-description d-flex ms-auto">
                            <div class="bg-faded p-5 rounded"><p class="mb-0">Elevate your social media presence with our expert management services. From content planning to audience engagement, we handle every aspect of your social media profiles on platforms like Facebook, Instagram, Twitter, and LinkedIn.
</p></div>

                        </div>
                </div>
            </div>
        </section>
<!--        Service 5-->
          <section class="page-section">
            <div class="container">
                <div class="product-item">
                    <div class="product-item-title d-flex">
                        <div class="bg-faded p-5 d-flex ms-auto rounded">
                            <h2 class="section-heading mb-0">
<!--                                <span class="section-heading-upper">From Around the World</span>-->
                                <span class="section-heading-lower fw-bold">Data Analytics</span>
                            </h2>
                        </div>
                    </div>
                    <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="{% static 'img/Data Analytics.jpg' %}" alt="..." />
                    <div class="product-item-description d-flex me-auto">
                        <div class="bg-faded p-5 rounded"><p class="mb-0"> Gain valuable insights into your digital marketing efforts with our data analytics services. We implement robust analytics tools, provide regular reporting, and offer in-depth insights to measure and enhance the success of your online initiatives.
</p></div>
                    </div>
                </div>
            </div>
        </section>

{% endblock %}
footer-->

    </body>
</html>
